<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Train booking and information</title>
    <link rel="stylesheet" href="/design.css">
</head>

<body>
    <div class='errorcenter'>
        <p><%= error %></p>
        <p><a href="/" class="return"> Return to landing page </a></p>
    </div>
</body>
